
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda Güncelleme Sayfası</h2>

<form method="post">
    <label>Hakkında Id</label>
    <input type="text" class="table table-bordered" value="@Model.AboutID" name="AboutID" />
    <br />
    <label>Hakkında Başlığı</label>
    <input type="text" class="table table-bordered" value="@Model.Title" name="Title" />
    <br />
    <label>Hakkında Açıklaması</label>
    <input type="text" class="table table-bordered" value="@Model.Description" name="Description" />
    <br />
    <label>Hakkında Resim Yolu</label>
    <input type="text" class="table table-bordered" value="@Model.ImageUrl" name="ImageUrl" />
    <br />
    <button class="btn btn-success">Hakkında Güncelleme</button>
</form>
